<!-- Start of Header -->
<header>
    <div class="container">
        <div class="logo-container">
            <!-- Website Logo -->
            <a href="javascript:void(0)" ui-sref="app.assets.all" title="Knowledge Base Theme">
                    <img ng-src="assets/images/logo.png" alt="Knowledge Base Theme">
            </a>
            <span class="tag-line">Integrations Graphique Assets</span>
        </div>

        <!-- Start of Main Navigation -->
        <nav class="main-nav">
            <div class="menu-top-menu-container">
                <ul id="menu-top-menu" class="clearfix">
                    <li class="current-menu-item"><a ui-sref="app.assets.all" >Assets</a></li>
                    <li><a ui-sref="app.tools">Tools</a></li>
                </ul>
            </div>
        </nav>
        <!-- End of Main Navigation -->
    </div>
</header>
<!-- End of Header -->