<!-- MENU -->
<!--<div id="menuleft" ng-class="{hide:!showmenu,slide:showmenu}">
	<h1>{{ 'BIENVENUE' | translate }}</h1>
	<ul>
     	<li ng-class="{active: routeIs('/')}"><a ui-sref="app.home" ng-click="toggleMenu()">{{ 'HOME' | translate }}</a></li>
        <li ng-class="{active: routeIs('/login')}"><a ui-sref="authentication.login" ng-click="toggleMenu()">{{ 'LOGIN' | translate }}</a></li>
        <li ng-class="{active: routeIs('/public')}"><a ui-sref="public.accueil" ng-click="toggleMenu()">{{ 'PUBLIC' | translate }}</a></li>
        <li ng-class="{active: routeIs('/private')}"><a ui-sref="private.accueil" ng-click="toggleMenu()">{{ 'PRIVATE' | translate  }}</a></li>
	</ul>
</div>
<div></div>-->